#LoadModule wsgi_module modules/mod_wsgi.so

#<VirtualHost *:80>

## Requires these in main
User {{ apache_user }}
Group {{ apache_user }}
WSGISocketPrefix /run/wsgi

<VirtualHost {{ server_ip }}:80>

    ServerName {{ server_ip }}
    #ServerAlias 10.100.18.2
    ServerAdmin webmaster@example.com

    #DocumentRoot /usr/local/www/documents
    DocumentRoot /srv/ctfd/CTFd-3.4.0/

    #<Directory /srv/ctfd/CTFd-3.4.0/>
        #Require all granted
        #Require all denied
    #</Directory


    WSGIDaemonProcess ctfd user=lamp group=lamp threads=5
    # Auto reload all the processes when the .wsgi file changes
    WSGIScriptReloading On

    #WSGIScriptAlias /myapp /usr/local/www/wsgi-scripts/myapp.wsgi
    WSGIScriptAlias / /srv/ctfd/CTFd-3.4.0/wsgi.py
    #WSGIScriptAlias / '/srv/ctfd/CTFd-3.4.0/venv/bin/python3 /srv/ctfd/CTFd-3.4.0/wsgi.py'

    <Directory /srv/ctfd/CTFd-3.4.0>
        WSGIProcessGroup ctfd
	WSGIApplicationGroup %{GLOBAL}
        Require all granted
    </Directory>

</VirtualHost>
